@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #222;
  font-family: 'Open Sans', sans-serif;
  color: #FFF; 
  font-family: 'Source Sans Pro'; font-size: 20px; 
 font-weight: 300; 
}

.search {
  width: 100%;
  position: relative;
  display: flex;
 margin: .25em 0 0; 
 width: 100%; 
 padding: .25em .5em; 
 font-size: 1.2em; 
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
h1 { 
  color: #439973; 
  padding-bottom: 5px; 
  border-bottom: 2px dotted #439973; 
  font-family: 'Patua One'; 
}

span { font-size: 1.5em;
   
}

.searchTerm:focus{
  color: #30cc00;
}

.searchButton {
  
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img{
  
  width:30px;
  
}